
 BODY {
      font-family: helvetica,ariel,arial,times;
      font-size: 11pt;
      background: #ffffff;
      color: black;
      margin:0px;
      padding:0px;
   }
  TD {
      font-family: helvetica,ariel,arial,times;
      font-size: 11pt;
      color: black;
   }
  DD {
      font-family: helvetica,ariel,arial,times;
      font-size: 11pt;
      color: black;
   }

   H1 { 
      font-family: helvetica,ariel,arial,times;
      font-weight: bold;
      background: #ffffff; 
      color: black;
   }
   H2 { 
      font-family: helvetica,ariel,arial,times;
      font-weight: bold;
      background: darkgreen;
      color: #ffffff;
  margin: 12px 0px 5px 0px;
  padding: 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #000000;
   }
   H3 { 
      font-family: helvetica,ariel,arial,times;
      font-weight: bold;
      background: #ffffff; 
      color: black;
   }

   P { 
    font-family: helvetica,ariel,arial,times;
    font-size: 11pt;
    color: black; 
    padding:1em 0px 2px 2em;
   }

p.citation {
  text-indent: -1em;
  padding:10px 0px 10px 3em;
}

p.abstract {
  padding: 0px 2em 2px 2em;
}

  UL {
      font-family: helvetica,ariel,arial,times;
      font-size: 11pt;
      color: black;
      margin: 0px 0px 2px 0px; padding-left: 3.5em; }
   }
  LI {
      font-family: helvetica,ariel,arial,times;
      font-size: 11pt;
      color: black;
   }

.content>p {margin:0px;}

   A:link { 
    font-family: helvetica,ariel,arial,times;
   }
   A:visited {
    font-family: helvetica,ariel,arial,times;
    color: #990000;
   }
  a:hover {
    text-decoration: underline;
    background-color:#f0f0f0;
    color:#ff0000;
  }
  
img.pic {
  vertical-align: top;
  margin-top: 75px;
  right: 90px;
  z-index: 1;
}
  
a img {
  border: 0px;
}

/* All the content boxes belong to the content class. */
.content {
  /* Position is declared "relative" to gain control of stacking order
     (z-index). */ 
  position:relative; 
  width:auto;
  min-width: 310px;
  margin:10px 10px 10px 10px;
  /* This allows the content to overlap the right menu in narrow windows in
     good browsers. */ 
  z-index:3; 
}

.nav {
  text-align: right;
  margin-right: 100px;
}

div.nav a:hover {
  background-color:#ffffff;
  border: solid #d00000;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  padding-bottom: 2px;
}

